.container{
    position: absolute;
    background: #563495;
    align-items: center;
    width: 800px;
    height: 650px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 400px;
    border-radius: 10px;
    
}
img{
    position: absolute;
    width: 400px;
    height: 670px;
    margin-top: 30px;
    margin-left:390px;
}
.container form,.container h2,.container p{
    margin-left: 450px;
}
.container h2,.container p{
    color: white;
}
.container h2{
    margin-top: 50px;
}
label{
    color: white;
}
input{
    width: 80%;
    border: 1px solid white;
    border-radius: 5px;
    height: 25px;
}
button{
    width: 81%;
    height: 25px;
    color: #563495;
    background: #FFFFFF;
    border: 1px solid white;
    border-radius: 5px;
}
button:hover{
    background-color: #563495;
    color: #FFFFFF;
}
.signin{
    color: white;
    margin-left: 20px;
}

.signin a{
    color: white;
    text-decoration: none;
}
.signin a:hover{
    text-decoration: underline;
}
select{
    width: 82%;
    height: 30px;
    border-radius:5px;
}