.navbar{
    background-color: var(--primary);
    color: var(--white);
    padding: 35px 190px; 
}
.navbar .nav-link{
    font-size: 16px !important;
    font-weight: 700;
}
.home-intro-wrapper{
    background-color: var(--primary);
    color: var(--white);
}

.footer-wrapper{
    background-color: var(--primary);
    color: var(--white);
    padding: 40px 110px;
}

.footer{
    margin-top: 20px;
    margin-bottom: 90px;
}


.home-wrapper .carousel .owl-nav {
    position: absolute;
    right: 0;
    top: -80px;
}

.most-popular {
    margin: 80px 0;
}

.most-popular .album-name {
    border-radius: 20px;
    text-align: center;
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
}

.most-popular .artist-name {
    color: var(--primary);
}

.artist-for-you{
    background-color: var(--primary);
    color: var(--white);
    padding: 50px 0;
    margin-bottom: 20px;
}

.artist-for-you .artist .owl-nav{
    position: absolute;
    right: 0;
    top: -80px;
}

@media screen and (max-width: 768px) {
    .footer-wrapper{
        padding: 30px 10px;
    }
}
body{
    background-color: white;
}
.container{
    position: absolute;
    background: #563495;
    align-items: center;
    width: 640px;
    height: 520px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 400px;
    border-radius: 10px;
    
}
img{
    position: absolute;
    width: 340px;
    height: 530px;
    margin-top: 35px;
    margin-left:370px;
}
.container form,.container h2,.container p{
    margin-left: 330px;
}
.container h2,.container p{
    color: white;
}
label{
    color: white;
}
input{
    width: 80%;
    border: 1px solid white;
    border-radius: 5px;
}
button{
    width: 81%;
    color: #563495;
    background: #FFFFFF;
    border: 1px solid white;
    border-radius: 5px;
}
.signin{
    color: white;
    margin-left: 20px;
}
.signin a{
    color: white;
    text-decoration: none;
}
.signin a:hover{
    text-decoration: underline;
}
select{
    width: 80%;
    border-radius:5px;
}
body{
    background-color: white;
}
.container{
    position: absolute;
    background: #563495;
    align-items: center;
    width: 640px;
    height: 520px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 400px;
    border-radius: 10px;
    
}
img{
    position: absolute;
    width: 340px;
    height: 530px;
    margin-top: 35px;
    margin-left:370px;
}
.container form,.container h2,.container p{
    margin-left: 330px;
}
.container h2,.container p{
    color: white;
}
label{
    color: white;
}
input{
    width: 80%;
    border: 1px solid white;
    border-radius: 5px;
}
button{
    width: 81%;
    color: #563495;
    background: #FFFFFF;
    border: 1px solid white;
    border-radius: 5px;
}
.signin{
    color: white;
    margin-left: 20px;
}
.signin a{
    color: white;
    text-decoration: none;
}
.signin a:hover{
    text-decoration: underline;
}
select{
    width: 80%;
    border-radius:5px;
}
body{
    background-color: white;
}
.container{
    position: absolute;
    background: #563495;
    align-items: center;
    width: 640px;
    height: 520px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 400px;
    border-radius: 10px;
    
}
img{
    position: absolute;
    width: 340px;
    height: 530px;
    margin-top: 35px;
    margin-left:370px;
}
.container form,.container h2,.container p{
    margin-left: 330px;
    margin-top: 30px;
}
.container h2,.container p{
    color: white;
}
label{
    color: white;
}
input{
    width: 80%;
    border: 1px solid white;
    border-radius: 5px;
}
button{
    width: 81%;
    color: #563495;
    background: #FFFFFF;
    border: 1px solid white;
    border-radius: 5px;
}
.signup{
    color: white;
    margin-left: 20px;
}
.signup a{
    color: white;
    text-decoration: none;
}
.signup a:hover{
    text-decoration: underline;
}
select{
    width: 80%;
    border-radius:5px;
}